/.DS_Store
/PartB1_draft1.tex
/PartB1_draft2.tex
/PartB1.bbl
/PartB1.blg
/PartB1.log
/PartB1.out
/PartB2.bbl
/PartB2.blg
/PartB2.log
/PartB2.out
/revision.tex
/TrackRecord
/TrackRecord/Drafts
/TrackRecord/Drafts/.DS_Store
